:root {
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    position: relative;
    background:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/bg-desktop.svg');
    background-color: var(--Very-Dark-Blue);
    background-position: center;
    background-position-y: 50vh;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

main {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.fylo-container, .data-container {
    width: 25vw;
    height: 29vh;
    margin: 10px;
    padding: 2rem;
    background-color: var(--Dark-Blue);
    border-radius: 1rem;
}

.fylo-container {
    border-top-right-radius: 100px;
}


.fylo-container .title {
    margin-left: 5px;
}

.fylo-container .title img {
height: 100%;
width: 50%;
}

.fylo-container .utilities {
    margin: 1rem 0;
    padding: 5px;
    width: 70%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

 .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-Dark-Blue);
    height: 100%;
    width: 100%;
    margin: 5px;
    padding: auto;
    border-radius: 10px;
    transition: 0.5s ease all;
}
.img-container:hover {
    cursor: pointer;
    background-color: var(--Pale-Blue);
}

.data-container {
    width: 38vw;
    height: 22vh;
    position: relative;
}

.data-container h2 {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1rem;
}

.data-container span {
    font-weight: 700;
}


.data-container .progress {
    background: rgba(0, 0, 0, 0.3);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    padding: 0 2px;
    display: flex;
    height: 15px;
    width: 100%;
}

.progress .progress-value {
    animation: load 3s normal forwards;
    border-radius: 100px;
    background:linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 10px;
    width: 0;
    position: relative;
}


@keyframes load {
    0% { width: 0; }
    100% { width: 81.5%; }
  }

.progress-value::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    left: 100%;
    transform: translateX(-100%);
}

.data-container .data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: bold;
    margin: 5px 0;
}

.data-container .textbox {
    background-color: white;
    color: black;
    position: absolute;
    top: -50%;
    left: 55%;
    margin: 1rem;
    padding:.5rem;
    min-width: 170px;
    min-height:70px;
    border-radius: 10px 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .textbox::after{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #ffffff;
        border-bottom: 0px;
        border-right: 0;
        margin-left: -20px;
        margin-bottom: -20px;
    }
    

    .textbox p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1em;
    }

    .textbox span {
        font-size: 2.5em;
    }

